body{
   background-color: green;}
   
   h1{ border: 10px solid blue;
      background-color: brown;
      border-radius: 40px;
      padding: 20px 10px 20px 40px;
      margin:auto; /* Centra el cuadro */  
      transition: 3s;
      width: 60vw; 
      /*
      margin-top: 8em;
      padding: 1em; 
      align-items:end; Alinecion     
      align-items: center;
      display: flex;  No vi camvios
      flex-direction:auto;
      */
   }   
   .texto-importante { font-weight: bold; color:coral; }
      
   p { font-size: 16px;  color:blanchedalmond; 
   }
   #enlace-link { 
      border: 6px solid red;
      background-color:darkgoldenrod;
      margin-top: 1em;
      width: 80vw;
      flex-direction: column;
      border-radius: 20px;
      padding: 10px 20px 20px 20px;
      transition: 3s;
   }
   /* 
      align-items: center;
   display: flex;
   margin: auto;
   display: flex;
   margin: auto;
   align-items: center;
   padding: 1em; 
         */

#TITL { font-size: 40px; color: red; }

.fondo {background-color: yellow; }

.Art-3 { font-weight: bold; color: brown; }

.Art-2 { font-weight: bold; color: greenyellow; }

.Art-1 {background-color: rgb(19, 169, 74); }
