body{
    background-color:yellowgreen}
    
    h1{ border: 10px solid red;
       background-color:brown;
       border-radius: 40px;
       padding: 20px 10px 20px 40px;
       margin:auto; /* Centra el cuadro */  
       transition: 3s;
       width: 60vw; 
    }

    .Sub-titulo { font-weight: bold; color:blue; 
      border: 6px solid green;
      background-color:black;
      border-radius: 30px;
      padding: 10px 10px 10px 20px;
      transition: 5s;
      width: 60vw; 
      margin:auto; /* Centra el cuadro */       
   }

   .Fotos-M1 { 
      border: 10px solid brown;
      background-color:blue;
      border-radius: 30px;
      padding: 10px 10px 10px 20px;
      transition: 5s;
      width: 70vw; 
   }
